{% extends "base.html" %}

{% block content %}
<h1>Who am I</h1>
<p>I am currently a senior MMIS student at Georgia College & State University, working towards a career in project management. Outside of my academic pursuits, I have a strong connection to music, which has been a significant part of my life. I play several instruments, including the trumpet, baritone, and keyboard. Recently, I’ve also started learning the tenor saxophone, which has been an exciting new challenge for me. My love for music extends beyond playing; I’m particularly drawn to neo soul, a genre that resonates with me on a personal level and influences my appreciation for soulful, rich melodies.</p>

<p> I am also a big sister to one younger brother. Being the eldest has given me a sense of responsibility and has shaped my approach to both leadership and family dynamics. My experiences as a sibling have taught me valuable lessons about support and understanding, which I carry into all areas of my life.</p>

<p> At home, I am a pet owner to a turtle named Aheo. Aheo adds a special touch to my daily routine, and she adds a soothing presence amid my busy schedule. Having a pet has given me a greater appreciation for the simple joys of life. Balancing my studies, music, family, and pet care keeps me grounded and motivated, and I cherish the harmony these elements bring to my life.</p>
{% endblock %}